@import url('https://use.typekit.net/tfb7fjy.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

$text-color-braun:#A78754;
$text-color-black:#222222;
$coin-name-color: #7B5822;
$btn-color-braun:#A78754;
$btn-midygold:#a07b4e;
$btn-color-black:#332F2D;

$mv-background-color: #1A1816;
$trajan: 'trajan-pro-3', 'serif';
$yuMincho: 'yu-mincho-pr6n', 'sans-serif';
$garamond: 'Cormorant Garamond', 'sans-serif';
