.main {
    max-width: 1154px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    align-items: center;

    .splide__slide {
        &.is-active {
            .component {
                transform-origin: center;
                transform: scale(1);
                opacity: 1;
            }
        }

        .component {
            position: relative;
            opacity: 0.5;
            background: #FFF;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 10.400001525878906px 22.285717010498047px 0px rgba(0, 0, 0, 0.15), 0px 40.114288330078125px 40.114288330078125px 0px rgba(0, 0, 0, 0.13), 0px 90.62857818603516px 54.22857666015625px 0px rgba(0, 0, 0, 0.08), 0px 161.20001220703125px 64.62857818603516px 0px rgba(0, 0, 0, 0.02), 0px 251.82859802246094px 70.5714340209961px 0px rgba(0, 0, 0, 0.00);
            transform: scale(0.8);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

            .frame {

                img {
                    width: 100%;
                }
            }

            .image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 100px);
                height: calc(100% - 100px);
                z-index: 10;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .splide__arrows {
        svg {
            display: none;
        }

        .splide__arrow {
            width: 56px;
            height: 56px;
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: linear-gradient(135deg, rgba(243, 243, 243, 0.10) 0%, rgba(243, 243, 243, 0.08) 100%);
            backdrop-filter: blur(47.5px);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            &.splide__arrow--prev {
                left: -100px;

                &::after {
                    background-image: url('/public/assets/img/left_arrow.svg');
                }
            }

            &.splide__arrow--next {
                right: -100px;

                &::after {
                    background-image: url('/public/assets/img/right_arrow.svg');
                }
            }
        }
    }

    .frame {
        display: flex;
        align-items: center;
        gap: 12px;
        .wishlist {
            display: flex;
            height: 44px;
            padding: 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border-radius: 12px;
            background: var(--buttons-territaty, linear-gradient(207deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.04) 100%), #1A1A1A);
            color: var(--white-white-80, rgba(255, 255, 255, 0.80));

            .icon {
                width: 24px;
                height: 24px;
            }
    
            .text {
                color: var(--white-white-80, rgba(255, 255, 255, 0.80));
    
                /* Body S - Bold */
                font-size: 14px;
                font-family: Inter;
                font-weight: 600;
                line-height: 140%;
            }
        }
    }
}