@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: url('/public/assets/img/homeFrameBlack2.jpeg');
    /* webpackIgnore: true */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
