@charset "UTF-8";
/* ==========================================================================
// base
// ==========================================================================*/
@import url("https://use.typekit.net/tfb7fjy.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@media (max-width: 768px) {
  [hide-sp] {
    display: none;
  }
}

@media (max-width: 768px) {
  [pc] {
    display: none !important;
  }
}

[sp] {
  display: none !important;
}
@media (max-width: 768px) {
  [sp] {
    display: unset !important;
  }
}

@media (max-width: 768px) {
  br[hide] {
    display: none;
  }
}
br[sp] {
  display: none;
}
@media (max-width: 768px) {
  br[sp] {
    display: block;
  }
}

br[pc] {
  display: block;
}
@media (max-width: 768px) {
  br[pc] {
    display: none;
  }
}

.smooth-scroll {
  height: 100vh;
  width: 100%;
}

.scrollbar-track {
  display: none !important;
}

.is-sp-flex {
  display: none;
}
@media (max-width: 768px) {
  .is-sp-flex {
    display: flex;
  }
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

[data-scroll-container] {
  overflow: hidden !important;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11rem;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7rem;
  border-radius: 10rem;
  margin: 2rem;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}

.cover-footer {
  z-index: 1;
}

/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.6; /* 1 */
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  background-color: rgba(167, 135, 84, 0.06);
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: normal;
}

dd {
  margin-left: 0;
  margin-bottom: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none !important;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

iframe {
  position: fixed !important;
  z-index: -1 !important;
  top: 0 !important;
  bottom: 100vh !important;
  left: 0 !important;
  right: 0 !important;
}

html::-webkit-scrollbar { /* Chrome, Safari 対応 */
  display: none;
}

@font-face {
  font-family: "Inter";
  src: url("/public/assets/font/Inter/static/Inter-Regular.ttf");
}
.footer {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  position: fixed;
  bottom: 36px;
  max-width: calc(100% - 40px);
  width: 1154px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
}

.style_select {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 24px;
  border: 2px solid var(--white-10, rgba(255, 255, 255, 0.1));
  background: var(--sub-background, #151515);
  max-width: 292px;
  width: 100%;
}
.style_select .styleImg {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: url("/public/assets/img/frame202.png"), lightgray 50%/cover no-repeat, url("/public/assets/img/frame202.png"), lightgray 50%/cover no-repeat;
}
.style_select .styleText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
  flex: 1 0 0;
}
.style_select .styleText .label {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--white-white-60, rgba(255, 255, 255, 0.6));
  /* Body XS - Bold */
  font-size: 11px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 130%;
}
.style_select .styleText .type {
  display: flex;
  height: 18px;
  flex-direction: column;
  align-self: stretch;
  overflow: hidden;
  color: var(--white-white-100, #FFF);
  text-overflow: ellipsis;
  whitespace: nowrap;
  /* Body S - Bold */
  font-size: 14px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 140%;
}
.style_select .styleEdit {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--buttons-territaty, linear-gradient(207deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%), #1A1A1A);
}
.style_select .styleEdit .editButton {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.promptDiv {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background: var(--background, #0D0D0D);
}
.promptDiv .promptText {
  display: flex;
  height: 56px;
  padding: 8px 0px 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  border-bottom: 2px solid rgba(11, 144, 40, 0.2);
}
.promptDiv .promptText .label {
  color: var(--white-white-60, rgba(255, 255, 255, 0.6));
  font-size: 10px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}
.promptDiv .promptText .text {
  color: var(--white-white-100, #FFF);
  /* Body M - Bold */
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 140%;
}
.promptDiv .promptCreate {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  border: 2px solid var(--buttons-strokes-primary, rgba(98, 230, 127, 0.2));
  background: var(--buttons-primary, radial-gradient(40% 60.71% at 50.59% 100%, #62E57F 0%, #0B8F27 100%));
}
.promptDiv .promptCreate .editbutton {
  width: 24px;
  height: 24px;
}
.promptDiv .promptCreate .label {
  color: var(--white-white-80, rgba(255, 255, 255, 0.8));
  /* Body M - Bold */
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 140%;
}

.priceDiv {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  border: 2px solid var(--white-10, rgba(255, 255, 255, 0.1));
  background: var(--sub-background, #151515);
  max-width: 292px;
  width: 100%;
  color: var(--white-white-80, rgba(255, 255, 255, 0.8));
}
.priceDiv .priceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.priceDiv .priceText .label {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--white-white-60, rgba(255, 255, 255, 0.6));
  /* Body XS - Bold */
  font-size: 11px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 130%;
}
.priceDiv .priceText .text {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #62E57F;
  /* Body XL - Bold */
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 140%;
}
.priceDiv .priceEdit {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--buttons-secondary, rgba(11, 144, 40, 0.1));
}
.priceDiv .priceEdit .cartButton {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.main {
  max-width: 1154px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.main .splide__slide.is-active .component {
  transform-origin: center;
  transform: scale(1);
  opacity: 1;
}
.main .splide__slide .component {
  position: relative;
  opacity: 0.5;
  background: #FFF;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15), 0px 10.4000015259px 22.2857170105px 0px rgba(0, 0, 0, 0.15), 0px 40.1142883301px 40.1142883301px 0px rgba(0, 0, 0, 0.13), 0px 90.628578186px 54.2285766602px 0px rgba(0, 0, 0, 0.08), 0px 161.200012207px 64.628578186px 0px rgba(0, 0, 0, 0.02), 0px 251.8285980225px 70.571434021px 0px rgba(0, 0, 0, 0);
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.main .splide__slide .component .frame img {
  width: 100%;
}
.main .splide__slide .component .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  z-index: 10;
}
.main .splide__slide .component .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .splide__arrows svg {
  display: none;
}
.main .splide__arrows .splide__arrow {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(135deg, rgba(243, 243, 243, 0.1) 0%, rgba(243, 243, 243, 0.08) 100%);
  -webkit-backdrop-filter: blur(47.5px);
          backdrop-filter: blur(47.5px);
}
.main .splide__arrows .splide__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .splide__arrows .splide__arrow.splide__arrow--prev {
  left: -100px;
}
.main .splide__arrows .splide__arrow.splide__arrow--prev::after {
  background-image: url("/public/assets/img/left_arrow.svg");
}
.main .splide__arrows .splide__arrow.splide__arrow--next {
  right: -100px;
}
.main .splide__arrows .splide__arrow.splide__arrow--next::after {
  background-image: url("/public/assets/img/right_arrow.svg");
}
.main .frame {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main .frame .wishlist {
  display: flex;
  height: 44px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border-radius: 12px;
  background: var(--buttons-territaty, linear-gradient(207deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 100%), #1A1A1A);
  color: var(--white-white-80, rgba(255, 255, 255, 0.8));
}
.main .frame .wishlist .icon {
  width: 24px;
  height: 24px;
}
.main .frame .wishlist .text {
  color: var(--white-white-80, rgba(255, 255, 255, 0.8));
  /* Body S - Bold */
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 140%;
}/*# sourceMappingURL=index.css.map */